@import url('https://fonts.googleapis.com/css2?family=Jaini&display=swap');
@import url(./header.css);
@import url(rodapé.css);
    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    :root {
        
        --cor-de-fundo: linear-gradient(to right, rgb(235, 155, 6), rgb(214, 140, 2), rgb(182, 118, 0), rgb(153, 153, 0));
        --cor-texto: white;
        --cor-heroline: linear-gradient(to bottom, rgb(0, 0, 143),rgb(0, 0, 134),rgb(0, 0, 131),rgb(0, 0, 136));
        --cor-textosaibamais: linear-gradient (to right, white, white ,white, black);
        --cor-hero-sobremais: ;
    }

    body {
        margin: 0;
        font-family: Arial, sans-serif;
        background: var(--cor-de-fundo);
        height: auto;
        width: 100%;
        }

        ::-webkit-scrollbar-track {
            background-color: white;
        }
        ::-webkit-scrollbar {
            width: 0.938rem;
            
        }
        ::-webkit-scrollbar-thumb {
            background:rgb(0, 0, 143);
            border-radius: 10px;
        }

        ::-webkit-scrollbar-thumb:hover {
            background:rgb(110, 1, 1);
        }
        
        main {
            width: 100%;
            height: 52.45rem;
            background: var(--cor-de-fundo);
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;

        }

        .hero-sobre {
            background: linear-gradient(95deg, rgb(0, 0, 82), rgb(0, 0, 65), rgb(0, 0, 54), rgb(0, 0, 77));
            display: flex;
            border: 4px solid black;
            flex-direction: column;
            align-items: center;
            justify-content: end;
            gap: 1.25rem;
            border-radius: 34px;
            margin-top: 4%;
            width: 60%;
            height: 80%;
            position: relative;
            overflow: hidden;
            animation: piscarbtn 0.8s alternate ease-in-out infinite;
        }
        .hero__titulo {
            width: 100%;
            height: 12%;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .hero__titulo img {
            width: 40px;
        }

        .hero__titulo h2 {
            display: flex;
            align-items: center;
            height: 100%;
            width: auto;
            color: #fff;
            font-size: 2.438rem;
            font-family: "Poetsen One", sans-serif;
            font-weight: 400;
            font-style: normal;
            background-color: transparent;
        }

        .hero__texto {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 0 5rem;
            width: 100%;
            height: 60%;
            margin-bottom: 20%;
        }

        .hero__texto h2 {
            margin-bottom: 3%;
            font-size: 1.875rem;
        }

        .hero__texto p {
            font-size: 1.125;
        }
@keyframes piscarbtn{
    0% {
        border: 3px solid  #333333;
    }
    100% {
        border: 3px solid  white;
    }
  }