* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
    width: 100%;
    height: 100%;
    
}

.container-header .logo{ /* Design da Logotipo */
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    color: #fff;
    font-size: 20px;
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
    /* box-shadow: 0 5px 60px 0 rgb(12, 165, 114); */
    animation: logofly 1.5s ease-in-out alternate infinite;
    background-color: transparent;
    animation: logoanimation 6s alternate infinite ease-in-out;
}
.container-header .logo img {
    width: 2.375rem;
}

header { /* Cor e Espaçamento do Cabeçalho */
width: 100%;
height: auto;
background-color: #040c52;
padding: 1.5rem 0;
box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.616);
position: sticky;
top: 0;
z-index: 9;
}

.header-center {
height: 100%;
width: 70%;
position: relative;
display: flex;
justify-content: end;
padding: 0 4rem 0 0;
}

.header-center a {/* Estilização do button */
color: #a8a8a8; /* Cor de texto */
background: none; /* Tirando o fundo do button */
border:none;
text-decoration: none;
padding: 0.625rem 1.25rem;
margin-right: 1.25rem;
font-size: 0.875rem;
transition: 0.3s ease-in-out;
}

#tituloHeader{
    font-size: 2rem;
}

.dropbtn-home, .dropbtn-projects, .dropbtn-contacts{ /* Estilização para os button para criação da seta */
display: flex;
align-items: center;
position: relative;
padding-right: 1.25rem; /* Espaço para seta */
background: none;
border: none;
cursor: pointer; /* Animação de cursor */
}

.dropbtn-home:hover, .dropbtn-projects:hover, .dropbtn-contacts:hover{
    color: white;
    font-size: 0.9rem;
}

.dropbtn-projects::after{ /* Seta criada para o Button Projects */
content:"";
position: absolute;
padding: 4px;
top: 50%;
right: 5px;
width: 0;
height: 0;
box-shadow: 2px -2px 0 0px #ddd inset;
border: solid transparent;
border-width: 0 0 2px 2px;
transform: translateY(-50%) rotate(-45deg); /* Posicionamento e rotação da seta */
}   

.dropdown-projects-content { /* Estilização para o dropdown projetos */
display: none;
position: absolute;
border: 2px solid black;
border-radius: 15px;
background-color: #f1f1f1;
min-width: 10rem;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-projects-content a { /* Estilização de dentro do dropdown */
color: black;
padding: 0.75rem 1rem;
text-decoration: none;
display: block;
}

.dropdown-projects-content a:hover {
    background-color: #ddd;
    border-radius: 0.938rem;
}

.dropdown-menu-projects:hover .dropdown-projects-content{
    display: block;
}

.menu-hamburguer {
    display: none;
}


@keyframes logoanimation {
    0% {
        color: white;
    }
    50% {
        color: rgb(194, 148, 64);
        font-size: 0.85rem;
    }
    100% {
        color: white;
    }
}

@media screen and (max-width: 543px) {
    header {
        position: relative;
    }
    .dropbtn-home, .dropbtn-projects, .dropbtn-contacts{
        display: none;
    }

    .container-header {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .logo{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .header-center{
        display: none;
    }

    #tituloHeader {
        font-size: 30px;
    }

    .menu-hamburguer {
        display: block;
    }

    .lista-menu {
        display: none;
    }

    .bi-list {
        font-size: 50px;
        color: white;
    }

    .lista-menu__lista {
        position: absolute;
        display: none;
        top: 100%;
        right: 0;
        list-style: none;
        background-color: white;
        text-decoration: none;
        width: 70%;
        z-index: 8;
        box-shadow: -5px 2px 20px 4px yellow;
    }

    .lista-menu__lista__titulo h2{
        display: flex;
        justify-content: center;
        align-items: center;
        color: rgb(255, 226, 182);
        font-family: "Poetsen One", sans-serif;
        font-weight: 400;
        padding: 2rem 6rem;
        background: linear-gradient(to right, rgb(9, 190, 100), rgb(13, 240, 183), rgb(68, 228, 116));
        width: 100%;
        margin-bottom: 0;
    }


    .lista-menu__lista__item  {
        background-color: white;
        height: 5rem;
        font-size: 20px;
        font-family: "Poetsen One", sans-serif;
        font-weight: 400;
    }

    .lista-menu__lista__item a {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        color: black;
    }

    .lista-menu__lista__item a:hover {
        background-color: #272727;
        color: white;
    }



   

    .lista-menu:checked ~ .lista-menu__lista {
        display: block;
    }
}